.about {
  width: 100%;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: @bg-light;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.about__list {
  padding: 0 55px;
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about__item {
  position: relative;
  
  &:first-child {
    width: 570px;
    padding-left: 25px;
    text-align: left;
    
    .about__text {
      bottom: -10px;
      right: 0;
      text-align: center;
    }
  }
  
  &:nth-child(2) {
    width: 400px;
    text-align: left;
    
    .about__text {
      top: 50%;
      right: 30px;
      text-align: center;
    }
    
    .about__img {
      margin-left: -10px;
      margin-top: 15px;
    }
  }
  
  &:nth-child(3) {
    align-self: flex-end;
    padding-right: 50px;
    
    .about__text {
      top: -55px;
      right: 45px;
    }
  }
  
  &:nth-child(4) {
    padding-right: 50px;
    
    .about__text {
      top: 55%;
      right: 40px;
    }
    
    .about__img {
      margin-top: -40px;
    }
  }
}

.about__text {
  position: absolute;
  margin: 0;
  font-size: 46px;
  line-height: 1;
  color: @violet;
  font-weight: bold;
}

.about__title {
  padding-left: 25px;
}

.about__sub {
  padding-right: 520px;
  padding-top: 15px;
}
