.features {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: @bg-light;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.features__list {
  margin-top: 50px;
  padding-left: 36px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.features__item {
  width: 295px;
  height: 103px;
  margin-bottom: 19px;
  margin-right: 11px;
  padding-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @yellow;
  border-radius: 20px;
  position: relative;
  
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.features__name {
  width: 289px;
  height: 97px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
  border: 2px dashed @text;
  border-radius: 20px;
  
  span {
    display: block;
    font-family: "Cheshirskiy Cat", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
  }
}

.features__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  height: 103px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px dashed @text;
  background-color: #fff;
  
  img {
    display: block;
  }
  
}