.header {
  width: 1280px;
  position: absolute;
  top: 0;
  left: 0;
//  left: 50%;
//  transform: translateX(-50%);
  z-index: 20;
  padding-top: 27px;
  padding-left: 37px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.header__time {
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.header__link {
  display: block;
  font-size: 19px;
  font-weight: bold;
  color: @text;
  letter-spacing: 1px;
}

.header__phone {
  position: relative;
  padding-left: 40px;
  padding-right: 10px;
  
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    width: 30px;
    height: 40px;
    background-image: url(../img/arrow-up.png);
    background-repeat: no-repeat;
  }
}
