.info {
  padding: 0 45px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.info__text {
  width: 780px;
  padding-top: 75px;
  font-weight: 700;
  letter-spacing: 3.5px;
  line-height: 1.22;
  
  p {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.info__img {
  margin-top: -50px;
  z-index: 20;
}
