.info {
  padding: 0 55px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.info__text {
  width: 1160px;
  padding-top: 100px;
  font-weight: 700;
  letter-spacing: 5px;
}

.info__img {
  margin-top: -70px;
}
