.logo {
  position: relative;
}

.logo__name {
  position: absolute;
  top: 115px;
  left: 30px;
  margin: 0;
  font-family: "Cheshirskiy Cat", "Arial", sans-serif;
  font-size: 24px;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 0 0 2px #7D326D;
}

.logo__about {
  position: absolute;
  bottom: 40px;
  left: 50px;
  margin: 0;
  font-size: 12.5px;
  color: #562b24;
  font-weight: bold;
  letter-spacing: 1px;
}
