.menu {
  min-width: 590px;
  min-height: 34px;
  background-color: @yellow;
  border: 2px solid @text;
  border-radius: 8px;
}

.menu__list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__link {
  padding: 0 15px;
  font-family: "Cheshirskiy Cat", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 34px;
  color: @text;
  letter-spacing: 1.5px;
  
  &--active,
  &:hover,
  &:active {
    color: @violet;
  }
}
