.promo {
  width: 100%;
  min-height: 1142px;
  padding-top: 85px;
}

.promo__figure {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.promo__mask {
  position: absolute;
  top: 0;
  left: 0;
}

.promo__title {
  width: 100%;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}

.promo__img {
  height: 1059px;
  max-width: none;
}

.promo__map {
  width: 100%;
  height: 1059px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__btn-wrap {
  margin-top: 70px;
  margin-left: 890px;
}

.promo__btn {
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    top: -100px;
    left: 440px;
    width: 655px;
    height: 155px;
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
  }
}
