.promo {
  width: 100%;
  min-height: 760px;
  padding-top: 55px;
}

.promo__figure {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.promo__mask {
  position: absolute;
  top: 0;
  left: 0;
  
  &--bottom {
    bottom: 0;
    top: auto;
  }
}

.promo__title {
  width: 100%;
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
}

.promo__img {
  height: 706px;
  max-width: none;
}

.promo__map {
  width: 100%;
  height: 706px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  iframe {
    border: none;
  }
}

.promo__btn-wrap {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 500px;
  
  &::after {
    right: 220px;
  }
}

.promo__btn {
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    top: -65px;
    left: 295px;
    width: 437px;
    height: 104px;
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
  }
}
