.review {
  padding: 0 55px;
  padding-bottom: 60px;
  background-image: url(../img/house.png);
  background-repeat: no-repeat;
  background-position: right 70px top;
  background-size: 441px 238px;
}

.review__wrap {
  display: flex;
}

.review__field {
  width: 1162px;
  min-height: 355px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfbf8;
  border-radius: 30px;
}

.review__area {
  display: block;
  width: 1130px;
  min-height: 332px;
  border-radius: 30px;
  border: 2px dashed @text;
  background-color: #fcfbf8;
}

.review__btn {
  width: 446px;
  min-height: 78px;
}

.review__btn-wrap {
  width: 446px;
  margin-bottom: 70px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.review__title {
  text-align: left;
  padding-left: 300px;
}

.review__sub {
  padding-right: 250px;
}
