.title-h1 {
  font-size: 103px;
  margin-bottom: 0;
  letter-spacing: 3px;
  padding-left: 50px;
}

.title-sub {
  font-size: 36px;
  font-weight: bold;
  max-width: 930px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.title-h2 {
  font-size: 86px;
  line-height: 1;
  margin: 0;
  letter-spacing: 3px;
}

.arrow-up {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
