.title-h1 {
  font-size: 155px;
  font-weight: normal;
  margin: 0;
}

.title-sub {
  font-size: 54px;
  font-weight: bold;
  max-width: 1410px;
  margin: 0 auto;
}

.title-h2 {
  font-size: 129px;
  font-weight: normal;
  margin: 0;
}
